.users-list-div:not(:last-child) {
    border-bottom: 1px solid rgba(98,105,118,.12) !important;
}

.users-list-div {
    padding-bottom: 0.7rem;
    padding-top: 0.8rem;
}

.users-list-div:first-child {
    margin-top: -0.8rem;
}

.users-list-div:last-child {
    margin-bottom: -0.7rem;
}

/* Badges */
.badge-admin-mod {
    color: #2fb344!important;
    background: rgba(47,179,68,.1)!important;
}

.badge-teacher-student {
    color: #ae3ec9!important;
    background: rgba(174,62,201,.1)!important;
}

.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #64748b;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    min-width: 1.3571428571em;
    font-weight: 600;
    letter-spacing: .04em;
}

.profile-image-container {
    height: 5.5rem;
    width: 5.5rem;
    margin: -4.5rem auto 1rem auto;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1.5px 1.5px rgb(0 0 0 / 10%);
    overflow: hidden;
}

.profile-image-container > img {
    object-fit: cover;
    height: 5.5rem;
    width: 5.5rem;
}

.tag {
    padding: 0;
    background: unset;
}