.users-list-div:not(:last-child) {
    border-bottom: 1px solid rgba(98,105,118,.12) !important;
}

.users-list-div {
    padding-bottom: 0.7rem;
    padding-top: 0.8rem;
}

.users-list-div:first-child {
    margin-top: -0.8rem;
}

.users-list-div:last-child {
    margin-bottom: -0.7rem;
}